/* first theme */
/* :root {
    --primary-bg: #183b4e;
    --primary-fg: #f5eedc;
    --accent: #27548a;
    --select: #3d6981;
} */

:root {
    --primary-bg: #2a2b2e;
    --primary-fg: #A4C2A8;
    --accent: #ACEB98;
    --select-pointer: #A4C2A8;
    --select-bg: #5A5A66;

    --text-area-active: #A4C2A8;
    --text-area-inactive: #5A5A66;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Inconsolata", monospace;
    user-select: none;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

#root-page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text-area {
    width: 80%;
    height: 80vh;

    overflow-y: scroll;
    scrollbar-color: var(--accent) var(--primary-bg);
    scrollbar-width: thin;

    box-sizing: border-box;
}

.ta-active {
    border: 1px solid var(--text-area-active);
}

.ta-inactive {
    border: 1px solid var(--text-area-inactive);
}

#text-area:hover {
    cursor: text;
}

#cursor {
    position: relative;
    height: 18px;
    width: 2px;
    top: 100px;
    left: 100px;
    z-index: 999;
}

.active {
    background-color: var(--select-pointer);
}

.inactive {
    background-color: transparent;
}

#ordered-list {
    min-width: calc(100% - 50px);
    width: fit-content;
    padding-left: 50px;
}

.line {
    height: 18px;
    box-sizing: border-box;
    position: relative;
}

.line-selected {
    position: relative;
    box-shadow: inset 0 1px 0 0 var(--accent), inset 0 -1px 0 0 var(--accent);
}

.select {
    background-color: var(--select-bg);
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    position: relative;
    left: 0;
    width: fit-content;
    font-size: 14px;
    white-space: pre;
}
