/* first theme */
/* :root {
    --primary-bg: #183b4e;
    --primary-fg: #f5eedc;
    --accent: #27548a;
    --select: #3d6981;
} */

:root {
    --primary-bg: #2a2b2e;
    --primary-fg: #A4C2A8;
    --accent: #5A5A66;
    --select-pointer: #A4C2A8;
    --select-bg: #5A5A66;

    --text-area-active: #A4C2A8;
    --text-area-inactive: #5A5A66;

    --line-height: 18px;

    --marker-width: 10px;

    --ordered-list-pl: 10px;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Inconsolata", monospace;
    user-select: none;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

#root-page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text-area {
    width: 80%;
    height: 70vh;

    overflow-y: scroll;
    scrollbar-color: var(--accent) var(--primary-bg);
    scrollbar-width: thin;

    white-space: nowrap;
    box-sizing: border-box;
}

.ta-active {
    border: 1px solid var(--text-area-active);
}

.ta-inactive {
    border: 1px solid var(--text-area-inactive);
}

#text-area:hover {
    cursor: text;
}

#cursor {
    position: relative;
    height: 18px;
    width: 2px;
    top: 100px;
    left: 100px;
    z-index: 999;
}

.active {
    background-color: var(--select-pointer);
}

.inactive {
    background-color: transparent;
}

#ordered-list {
    min-width: calc(100% - 10px);
    width: fit-content;
    height: 0;
    list-style: none;
    padding-left: var(--ordered-list-pl);
}

.line {
    height: var(--line-height);
    box-sizing: border-box;
    position: relative;
}

.line-selected {
    height: var(--line-height);
    position: relative;
    box-shadow: inset 0 1px 0 0 var(--accent), inset 0 -1px 0 0 var(--accent);
}

.marker {
    text-align: right;
    padding-right: 4px;
    margin-right: 5px;
    display: inline-block;
    border-right: black 1px inset;
    width: var(--marker-width);
    font-size: 14px;
}

.select {
    background-color: var(--select-bg);
    height: var(--line-height);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    position: relative;
    left: 0;
    width: fit-content;
    height: var(--line-height);
    font-size: 14px;
    white-space: pre;

    /* padding-left: 5px; */
}

#theme-container {
    display: flex;
    justify-content: space-around;
    width:  50%;
    height: fit-content;
    margin: 10px 0;
}

.color-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 10vh;
    border-radius: 10px;
}

.color-input {
    font-family: "Inconsolata", monospace;
    font-weight: 600;
    text-align: center;
    width: 80%;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    box-shadow: 0 0 8px 0  black;
}

.color-input:focus {
    outline: none;
}

.color-wrapper > h6 {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}